.container {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    width: 1.5lh;
    height: 1.5lh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.count {
  flex-grow: 1;
  text-align: center;
}
