@import "../colors.css";

.tag-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  input {
    background-color: inherit;
    color: inherit;
    font: inherit;
    border: none;

    &:focus-visible {
      outline: none;
    }
  }
}

.tag {
  background-color: var(--color-mango);
  color: var(--color-black);

  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;

  padding: 2px 10px;
  border-radius: 1000rem;

  button {
    background-color: inherit;
    color: inherit;
    border: none;

    display: flex;
    width: 1em;
    height: 1em;
    align-items: center;
    justify-content: center;

    padding: 2px;
    border-radius: 1000rem;

    &::before {
      content: "#";
    }
  }

  &:hover button {
    background-color: var(--color-black);
    color: var(--color-mango);

    &::before {
      content: "⨯";
    }
  }
}
