.composer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: solid 1px var(--color-border-primary);
  overflow: hidden;

  min-height: min(16rem, 90vh);
}
