@import "../base.css";

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;

  padding: 16px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 24px;
}

.message {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;

  background-color: var(--color-longan);
  color: darkgreen;
  font-weight: 600;

  padding: 8px 16px;
  border-radius: 8px;
}

.error {
  color: darkred;
}
