watch_file shell.nix
use flake

# For development purposes ONLY
export SERVER_SECRET=""
export RC_DRAFTS_DIR="$HOME/Documents/Obsidian/Notes"
export RC_DRIVER_BIN="$HOME/github2/driver/target/release/driver"
export RC_WEBSITE_DIR="$HOME/github2/wolfgirl.dev"
