{#
title: string;
index: ViteManifest;
#}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="mobile-web-app-capable" content="yes" />
  <title>{{ title }}</title>
  <script type="module" src="/{{ index['file'] }}"></script>
  {% for file in index['css'] %}
  <link rel="stylesheet" href="/{{ file }}" />
  {% endfor %}
  <script>
    window.username = "{{ username }}";
  </script>
  {% endblock %}
</head>

<body>
  {% block slot %}{% endblock %}
</body>

</html>
