{#
username: string;
site: string | undefined;
error: string | undefined;
#}

{% set title = username ~ "'s Dashboard" %}

{% extends "base.html.j2" %}
{% block slot %}
<noscript>You need to enable JavaScript to run this app.</noscript>
<main>
  <header>
    <h1>{{ title }}/h1>
  </header>
  <div id="root"></div>
  {% if site is defined %}
  <input type="hidden" id="site" value="{{ site }}" />
  {% endif %}
  {% if error is defined %}
  <p class="message error">{{ error }}</p>
  {% endif %}
  <footer>
    <a href="/">Home</a>
    Have a nice day!!
  </footer>
</main>
{% endblock %}
