{#
username: string;
message: string | undefined;
error: string | undefined;
sites: Url[] | undefined;
scripts: string[] | undefined;
#}

{% set title = username ~ "'s Post Composer" %}

{% extends "base.html.j2" %}
{% block head %}
{{ super() }}
<script>
  window.username = "{{ username }}";
</script>
{% endblock %}

{% block slot %}
<noscript>You need to enable JavaScript to run this app.</noscript>
<main>
  <header>
    <h1>{{ title }}</h1>
    <h2><a href="/syncthing/">Syncthing</a></h2>
  </header>
  <div id="root"></div>
  {% if message is defined %}
  <p class="message">{{ message }}</p>
  {% endif %} {% if error is defined %}
  <p class="message error">{{ error }}</p>
  {% endif %} {% if sites is defined %}
  <ul>
    {% for site in sites %}
    <li><a href="/dashboard?site={{ site }}">{{ site }} dashboard</a></li>
    {% endfor %}
  </ul>
  {% endif %} {% if scripts is defined %}
  <ul>
    {% for s in scripts %}
    <li>
      <form action="/webhook/post" method="post">
        <input type="hidden" name="site" value="{{ s }}" />
        <button type="submit">run {{ s }}</button>
      </form>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <footer>Have a nice day!!</footer>
</main>
{% endblock %}
