{#
error: string | undefined;
#}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Login</title>
  <style>
    body,
    form,
    label {
      display: flex;
      flex-direction: column;
    }

    body {
      margin: 24px;
      font-family: sans-serif;
      font-size: 16px;

      align-items: center;
    }

    form {
      gap: 24px;
      align-items: flex-start;
    }

    label {
      gap: 8px;
    }

    .error {
      color: darkred;
    }
  </style>
</head>

<body>
  <h1>Login</h1>
  <form method="POST">
    <label>Username: <input type="text" name="username" required /></label>
    <label>Password: <input type="password" name="password" required /></label>
    <button type="submit">Login</button>
  </form>
  {% if error is defined %}
  <p class="error">{{ error }}</p>
  {% endif %}
</body>

</html>
