.button {
  background-color: var(--color-mango);
  color: var(--color-black);

  padding: 4px 8px;
  border-radius: 8px;
  border: none;

  font: inherit;

  cursor: pointer;

  &:hover {
    background-color: var(--color-longan);
  }
}

.secondary {
  background-color: var(--color-background-secondary);
  color: var(--color-text-primary);
  border: 2px solid var(--color-border-primary);

  &:hover {
    background-color: var(--color-border-primary);
  }
}
