@import "../base.css";

/*
 * TODO: once again I want to directly use styles from my main blog repo, but am instead re-creating
 * them here, whoops.
 */

header {
  display: block;
  margin: 32px;
}

main {
  display: block;

  border: solid 1px var(--color-dark-gray);
  background: var(--color-background-primary);

  padding: 0;
  margin: 32px;
  max-width: 50rem;

  button {
    background-color: var(--color-mango);
    color: var(--color-black);

    padding: 4px 8px;
    border-radius: 8px;
    border: none;

    font: inherit;

    cursor: pointer;

    &:hover {
      background-color: var(--color-longan);
    }
  }
}

.info {
  background: var(--color-background-secondary);
  border-bottom: solid 1px var(--color-dark-gray);
  padding: 16px;
}

.info h1 {
  color: var(--color-text-primary);
  margin: 0;
}

.preview {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  line-height: 1.9em;

  padding: 16px;

  a {
    color: var(--color-text-primary-accent);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text-primary);
  }
}

.tags {
  background-color: var(--color-background-secondary);
  border-top: solid 1px var(--color-border-primary);
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  padding: 16px;

  span {
    color: var(--color-text-primary-accent);
    text-decoration: underline;
  }
}

@media (max-width: 600px) {
  header,
  main {
    margin: 16px;
  }
}
