@import "../base.css";

/*
 * TODO: once again I want to directly use styles from my main blog repo, but am instead re-creating
 * them here, whoops.
 */

header {
  display: block;
  margin: 32px;

  button {
    background-color: var(--color-mango);
    color: var(--color-black);

    padding: 4px 8px;
    border-radius: 8px;
    border: none;

    font: inherit;

    cursor: pointer;

    &:hover {
      background-color: var(--color-longan);
    }
  }
}

main {
  display: block;

  border: solid 1px var(--color-dark-gray);
  background: var(--color-background-primary);

  padding: 0;
  margin: 32px;
  max-width: 50rem;
}

.info {
  background: var(--color-background-secondary);
  border-bottom: solid 1px var(--color-dark-gray);
  padding: 16px;
}

.info h1 {
  color: var(--color-text-primary);
  margin: 0;
}

.preview {
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  line-height: 1.9em;

  padding: 16px;

  a {
    color: var(--color-text-primary-accent);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-text-primary);
  }

  img {
    width: 100%;
  }

  pre {
    line-height: normal;

    code {
      display: block;
      overflow: auto;
    }
  }

  /* TODO: directly use post.css from the main repo */
  code {
    font-family: Consolas, monaco, monospace;
    background-color: var(--color-background-secondary);
    color: var(--color-text-secondary-accent);
  }

  blockquote {
    margin-left: 0.2em;
    padding-left: 0.8em;
    border-left: 0.2em solid var(--color-text-secondary-accent);
    background-color: var(--color-background-secondary);
    color: var(--color-text-secondary);

    code {
      background-color: var(--color-background-primary);
      color: var(--color-text-secondary-accent);
    }
  }

  /* Make it so that on mobile, when tables are too wide, they scroll horizontally */
  .table-wrapper {
    overflow: scroll;
  }

  /* Basic table styling. Put a border around the outside, and have no borders on the inside. */
  table {
    border: var(--color-border-primary) solid 1px;
    border-collapse: collapse;
  }

  /* Make it so that <table class="first-is-label"> will have a border betweent the first column and everything else */
  table.first-is-label tr :first-child {
    border-right: var(--color-border-primary) solid 1px;
  }

  /* Make it so that alternating rows are colored differently */
  thead,
  tbody tr:nth-child(even) {
    background-color: var(--color-background-secondary);
  }

  /* Add a fancy border-bottom to the table header */
  thead {
    border-bottom: var(--color-border-primary) double 3px;
  }

  /* Add a bit of extra breathing room to each cell */
  td {
    padding: 8px 16px;
  }

  th {
    padding: 4px 8px;
  }
}

.tags {
  background-color: var(--color-background-secondary);
  border-top: solid 1px var(--color-border-primary);
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  padding: 16px;

  span {
    color: var(--color-text-primary-accent);
    text-decoration: underline;
  }
}

@media (max-width: 600px) {
  header,
  main {
    margin: 16px;
  }
}
