:root {
  --color-not-white: #fff9f2;
  --color-not-black: #191919;
  --color-cherry: #83254f;
  --color-strawberry: #e56b6f;
  --color-mango: #ffab5c;
  --color-longan: #ffd8a8;

  --color-white: #ffffff;
  --color-gray: #282828;
  --color-black: #000000;
}
