.editor {
  position: relative;

  background-color: var(--color-background-primary);
  color: var(--color-text-primary);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 16px;

  padding: 16px;

  textarea {
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    border: none;
    resize: none;

    &:focus-visible {
      outline: none;
    }
  }
}

.title {
  font-size: var(--dim-font-large);
  font-weight: 600;
}

.body {
  font-size: var(--dim-font-small);
}

.overlay {
  pointer-events: none;

  position: absolute;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.5);
  color: white;

  border-radius: 8px;
  border: thick dashed white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
