{#
title: string;
body: HTML;
tags: string[];
#}

{% extends "base.html.j2" %}
{% block slot %}
<main>
  <div class="info">
    <h1>{{ title }}</h1>
  </div>
  <article class="preview">
    {{ body }}
  </article>
  <div class="tags">
    {% for tag in tags %}
    <span>#{{ tag }}</span>
    {% endfor %}
  </div>
</main>
{% endblock %}
